In [33]:
import pickle
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib as plt

In [34]:
# loading the data
infile = open('data/fitbit_and_sema_stress_experiment_dates.pkl','rb')
sema_mood = pickle.load(infile)
infile.close()
sema_mood

,id,date,stress_score,ALERT,HAPPY,NEUTRAL,RESTED/RELAXED,SAD,TENSE/ANXIOUS,TIRED,positive feelings,negative feelings
0,621e301e67b776a240608a72,2021-05-24,74.0,0,0,0,1,0,0,0,1,0
1,621e2f3967b776a240c654db,2021-05-24,76.0,0,0,0,1,0,0,0,1,0
2,621e36f967b776a240e5e7c9,2021-05-24,83.0,0,0,0,0,0,0,1,0,1
3,621e36f967b776a240e5e7c9,2021-05-24,83.0,0,0,0,0,0,1,0,0,1
4,621e32af67b776a24045b4cf,2021-05-24,79.0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2111,621e2f1b67b776a240b3d87c,2022-01-16,76.0,0,0,1,0,0,0,0,1,0
2112,621e2f9167b776a240011ccb,2022-01-16,76.0,0,0,0,0,0,1,0,0,1
2113,621e2f9167b776a240011ccb,2022-01-16,76.0,0,0,0,0,0,1,0,0,1
2114,621e346f67b776a24081744f,2022-01-17,72.0,0,0,0,0,0,1,0,0,1
2115,621e2f9167b776a240011ccb,2022-01-17,76.0,0,0,0,0,0,1,0,0,1

In [27]:
sema_mood=sema_mood.rename(columns={"user_id": "id"})

In [28]:
sema_mood.columns

Index(['id', 'date', 'ALERT', 'HAPPY', 'NEUTRAL', 'RESTED/RELAXED', 'SAD',
       'TENSE/ANXIOUS', 'TIRED'],
      dtype='object')

In [22]:
# loading the data
infile = open('data/daily_fitbit_sema_df_unprocessed.pkl','rb')
fitbit = pickle.load(infile)
infile.close()
fitbit

,id,date,nightly_temperature,nremhr,rmssd,spo2,full_sleep_breathing_rate,stress_score,sleep_points_percentage,exertion_points_percentage,...,step_goal,min_goal,max_goal,step_goal_label,HAPPY,NEUTRAL,TENSE/ANXIOUS,HOME,OUTDOORS,WORK/SCHOOL
0,621e2e8e67b776a24055b564,2021-05-24,34.137687,57.432,89.603,NaN,14.8,78.0,0.833333,0.675,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
1,621e2e8e67b776a24055b564,2021-05-25,33.794544,57.681,94.303,NaN,15.8,80.0,0.833333,0.725,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
2,621e2e8e67b776a24055b564,2021-05-26,34.611011,57.481,119.212,NaN,14.6,84.0,0.966667,0.725,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
3,621e2e8e67b776a24055b564,2021-05-27,34.408304,57.493,111.709,NaN,14.8,82.0,0.933333,0.725,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
4,621e2e8e67b776a24055b564,2021-05-28,34.178922,56.750,103.034,NaN,15.2,81.0,0.866667,0.725,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7348,621e375b67b776a240290cdc,2021-08-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
7349,621e375b67b776a240290cdc,2021-08-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
7350,621e375b67b776a240290cdc,2021-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
7351,621e375b67b776a240290cdc,2021-08-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
7352,621e375b67b776a240290cdc,2021-08-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# selecting experiment days
fitbit = fitbit.sort_values(by='date', ascending=True)
fitbit['date'] = pd.to_datetime(fitbit['date'].astype("str"), format='%Y-%m-%d')
fitbit1 = fitbit[(fitbit['date'] >= "2021-05-24") & (fitbit['date'] <= "2021-07-26")] #Round1
fitbit2 = fitbit[(fitbit['date'] >= "2021-11-15") & (fitbit['date'] <= "2022-01-17")] #Round2
fitbit=pd.concat([fitbit1, fitbit2], ignore_index=True)
fitbit

,id,date,nightly_temperature,nremhr,rmssd,spo2,full_sleep_breathing_rate,stress_score,sleep_points_percentage,exertion_points_percentage,...,step_goal,min_goal,max_goal,step_goal_label,HAPPY,NEUTRAL,TENSE/ANXIOUS,HOME,OUTDOORS,WORK/SCHOOL
0,621e2e8e67b776a24055b564,2021-05-24,34.137687,57.432,89.603,NaN,14.8,78.0,0.833333,0.675,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
1,621e301e67b776a240608a72,2021-05-24,34.710232,NaN,NaN,NaN,NaN,74.0,0.700000,0.700,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
2,621e301367b776a24057738e,2021-05-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
3,621e360b67b776a24039709f,2021-05-24,NaN,68.321,31.413,NaN,15.4,69.0,0.633333,0.650,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
4,621e2fce67b776a240279baa,2021-05-24,34.783747,83.170,15.941,96.6,15.2,70.0,0.733333,0.725,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4902,621e30e267b776a240e5bf90,2022-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
4903,621e322367b776a240e44e9b,2022-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
4904,621e300767b776a2404dc717,2022-01-17,33.186399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
4905,621e2f1b67b776a240b3d87c,2022-01-17,34.404580,65.782,23.793,NaN,16.0,72.0,0.766667,0.725,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
4906,621e331067b776a24085dd3f,2022-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
stress=fitbit.merge(sema_mood,on=['date','id'])
stress

,id,date,nightly_temperature,nremhr,rmssd,spo2,full_sleep_breathing_rate,stress_score,sleep_points_percentage,exertion_points_percentage,...,HOME,OUTDOORS,WORK/SCHOOL,ALERT,HAPPY_y,NEUTRAL_y,RESTED/RELAXED,SAD,TENSE/ANXIOUS_y,TIRED
0,621e301e67b776a240608a72,2021-05-24,34.710232,NaN,NaN,NaN,NaN,74.0,0.700000,0.700,...,NaN,NaN,NaN,0,0,0,1,0,0,0
1,621e362467b776a2404ad513,2021-05-24,34.526732,67.118,37.722,95.3,10.6,0.0,0.000000,0.000,...,NaN,NaN,NaN,0,1,0,0,0,0,0
2,621e362467b776a2404ad513,2021-05-24,34.526732,67.118,37.722,95.3,10.6,0.0,0.000000,0.000,...,NaN,NaN,NaN,0,1,0,0,0,0,0
3,621e362467b776a2404ad513,2021-05-24,34.526732,67.118,37.722,95.3,10.6,0.0,0.000000,0.000,...,NaN,NaN,NaN,0,1,0,0,0,0,0
4,621e2f7a67b776a240f14425,2021-05-24,32.556993,NaN,NaN,96.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4939,621e30e267b776a240e5bf90,2022-01-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,1,0
4940,621e346f67b776a24081744f,2022-01-17,32.903545,71.863,25.475,NaN,18.2,72.0,0.833333,0.625,...,NaN,NaN,NaN,0,0,0,0,0,1,0
4941,621e2f9167b776a240011ccb,2022-01-17,34.716690,58.489,28.329,96.5,14.2,76.0,0.800000,0.600,...,NaN,NaN,NaN,0,0,0,0,0,1,0
4942,621e30f467b776a240f22944,2022-01-17,34.352490,NaN,NaN,NaN,13.4,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,1,0,0,0,0
4943,621e331067b776a24085dd3f,2022-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,1,0,0,0,0

In [4]:
import sklearn
# PyCaret is not yet compatible with sklearn>=0.23.2.
print('The scikit-learn version is {}.'.format(sklearn.__version__))

The scikit-learn version is 0.23.2.

In [5]:
# 1.20.3
import numpy
print('The numpy version is {}.'.format(numpy.__version__))

The numpy version is 1.20.3.

In [6]:
# scipy<=1.5.4
import scipy
print('The scipy version is {}.'.format(scipy.__version__))

The scipy version is 1.5.4.

In [7]:
# 1.5.0
import pandas
print('The pandas version is {}.'.format(pandas.__version__))

The pandas version is 1.5.0.

In [8]:
import pycaret

In [9]:
from pycaret.classification import *

# Setup
The setup function initializes the environment in pycaret and creates the transformation pipeline to prepare the data for modeling and deployment. setup must be called before executing any other function in pycaret. It takes two mandatory parameters: a pandas dataframe and the name of the target column.

In [13]:
s = setup(data=stress, target='negative feelings', ignore_features=["id", "date"],
          silent=True, fix_imbalance=True, categorical_features=['ALERT', 'HAPPY', 'NEUTRAL',
       'RESTED/RELAXED', 'SAD', 'TENSE/ANXIOUS', 'TIRED', 'positive feelings'])

In [14]:
best = compare_models()

In [11]:
, normalize = True