In [1]:
import pickle
import warnings
import numpy as np
import pandas as pd
from datetime import datetime
import preprocessing_functions
warnings.filterwarnings("ignore")

Create the baseline dataframe. It contains the following pre-processing actions:
1. Selecting experiment days
2. Drop duplicates
3. Type conversion
4. One-hot encoding

In [2]:
fitbit = pd.read_pickle('data/daily_fitbit_df_unprocessed.pkl')
fitbit = preprocessing_functions.fitbit_basic_preprocessing(fitbit)
fitbit.to_pickle('./data/fitbit_to_predict_demographics.pkl')

In [3]:
fitbit = preprocessing_functions.fitbit_one_hot_encoding(fitbit)
fitbit

,id,date,nightly_temperature,nremhr,rmssd,spo2,full_sleep_breathing_rate,stress_score,sleep_points_percentage,exertion_points_percentage,...,Martial Arts,Run,Spinning,Sport,Swim,Treadmill,Walk,Weights,Workout,Yoga/Pilates
0,621e2e8e67b776a24055b564,2021-05-24,34.137687,57.432,89.603,NaN,14.8,78.0,0.833333,0.675,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,621e301e67b776a240608a72,2021-05-24,34.710232,NaN,NaN,NaN,NaN,74.0,0.700000,0.700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,621e301367b776a24057738e,2021-05-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,621e360b67b776a24039709f,2021-05-24,NaN,68.321,31.413,NaN,15.4,69.0,0.633333,0.650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,621e2fce67b776a240279baa,2021-05-24,34.783747,83.170,15.941,96.6,15.2,70.0,0.733333,0.725,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4959,621e345267b776a240691064,2022-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4960,621e310d67b776a24003096d,2022-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4961,621e324e67b776a2400191cb,2022-01-17,33.104768,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4962,621e30f467b776a240f22944,2022-01-17,34.352490,NaN,NaN,NaN,13.4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4963,621e2f1b67b776a240b3d87c,2022-01-17,34.404580,65.782,23.793,NaN,16.0,72.0,0.766667,0.725,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
fitbit.to_pickle('./data/fitbit_to_baseline_model.pkl')

Continue with the following pre-processing actions after merging the fitbit dataframe with a survey dataframe:
1. Drop highly NaN columns
2. Drop duplicates
3. Remove id
4. Extract day-related features
5. Replace outliers
6. Replace NaN values

Fitbit merged TTM preprocessing

In [ ]:
fitbit_ttm = pd.read_pickle('data/fitbit_ttm_to_model.pkl')
fitbit_ttm_processed = preprocessing_functions.post_preprocessing(fitbit_ttm, False)
fitbit_ttm_processed.to_pickle('./data/fitbit_ttm_processed.pkl')
fitbit_ttm_processed

Fitbit merged BREQ preprocessing

In [ ]:
fitbit_breq = pd.read_pickle('data/fitbit_breq_to_model.pkl')
fitbit_breq_processed = preprocessing_functions.post_preprocessing(fitbit_breq, False)
fitbit_breq_processed.to_pickle('./data/fitbit_breq_processed.pkl')
fitbit_breq_processed

Fitbit merged personality preprocessing

In [ ]:
fitbit_personality = pd.read_pickle('data/fitbit_personality_to_model.pkl')
fitbit_personality_processed = preprocessing_functions.post_preprocessing(fitbit_personality, False)
fitbit_personality_processed.to_pickle('./data/fitbit_personality_processed.pkl')
fitbit_personality_processed

Fitbit merged panas preprocessing

In [ ]:
fitbit_panas = pd.read_pickle('data/fitbit_panas_to_model.pkl')
fitbit_panas_processed = preprocessing_functions.post_preprocessing(fitbit_panas, False)
fitbit_panas_processed.to_pickle('./data/fitbit_panas_processed.pkl')
fitbit_panas_processed

Fitbit merged stai preprocessing

In [ ]:
fitbit_stai = pd.read_pickle('data/fitbit_stai_to_model.pkl')
fitbit_stai_processed = preprocessing_functions.post_preprocessing(fitbit_stai, False)
fitbit_stai_processed.to_pickle('./data/fitbit_stai_processed.pkl')
fitbit_stai_processed

Semas

In [6]:
semas = pd.read_pickle('data/sema_to_baseline_model.pkl')
semas

,id,date,negative_feelings,positive_feelings
0,621e2f3967b776a240c654db,2021-05-24,0,1
1,621e362467b776a2404ad513,2021-05-24,0,1
2,621e32d967b776a240627414,2021-05-24,0,1
3,621e2f7a67b776a240f14425,2021-05-24,0,1
4,621e34ca67b776a240be3b69,2021-05-24,1,0
...,...,...,...,...
4943,621e2eaf67b776a2406b14ac,2022-01-16,1,0
4944,621e346f67b776a24081744f,2022-01-17,1,0
4945,621e30f467b776a240f22944,2022-01-17,0,1
4946,621e2f9167b776a240011ccb,2022-01-17,1,0
4947,621e331067b776a24085dd3f,2022-01-17,0,1

In [7]:
fitbit = pd.read_pickle('data/fitbit_to_baseline_model.pkl')
fitbit

,id,date,nightly_temperature,nremhr,rmssd,spo2,full_sleep_breathing_rate,stress_score,sleep_points_percentage,exertion_points_percentage,...,Martial Arts,Run,Spinning,Sport,Swim,Treadmill,Walk,Weights,Workout,Yoga/Pilates
0,621e2e8e67b776a24055b564,2021-05-24,34.137687,57.432,89.603,NaN,14.8,78.0,0.833333,0.675,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,621e301e67b776a240608a72,2021-05-24,34.710232,NaN,NaN,NaN,NaN,74.0,0.700000,0.700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,621e301367b776a24057738e,2021-05-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,621e360b67b776a24039709f,2021-05-24,NaN,68.321,31.413,NaN,15.4,69.0,0.633333,0.650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,621e2fce67b776a240279baa,2021-05-24,34.783747,83.170,15.941,96.6,15.2,70.0,0.733333,0.725,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4959,621e345267b776a240691064,2022-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4960,621e310d67b776a24003096d,2022-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4961,621e324e67b776a2400191cb,2022-01-17,33.104768,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4962,621e30f467b776a240f22944,2022-01-17,34.352490,NaN,NaN,NaN,13.4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4963,621e2f1b67b776a240b3d87c,2022-01-17,34.404580,65.782,23.793,NaN,16.0,72.0,0.766667,0.725,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
fitbit_sema = fitbit.merge(semas, on=['id', 'date'])
fitbit_sema

,id,date,nightly_temperature,nremhr,rmssd,spo2,full_sleep_breathing_rate,stress_score,sleep_points_percentage,exertion_points_percentage,...,Spinning,Sport,Swim,Treadmill,Walk,Weights,Workout,Yoga/Pilates,negative_feelings,positive_feelings
0,621e301e67b776a240608a72,2021-05-24,34.710232,NaN,NaN,NaN,NaN,74.0,0.700000,0.700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
1,621e362467b776a2404ad513,2021-05-24,34.526732,67.118,37.722,95.3,10.6,0.0,0.000000,0.000,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,1
2,621e362467b776a2404ad513,2021-05-24,34.526732,67.118,37.722,95.3,10.6,0.0,0.000000,0.000,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,1
3,621e362467b776a2404ad513,2021-05-24,34.526732,67.118,37.722,95.3,10.6,0.0,0.000000,0.000,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,1
4,621e2f3967b776a240c654db,2021-05-24,NaN,69.820,28.594,NaN,16.4,76.0,0.800000,0.850,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4940,621e366567b776a24076a727,2022-01-16,33.277004,46.697,62.157,96.4,13.0,76.0,0.633333,0.825,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
4941,621e346f67b776a24081744f,2022-01-17,32.903545,71.863,25.475,NaN,18.2,72.0,0.833333,0.625,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
4942,621e331067b776a24085dd3f,2022-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
4943,621e2f9167b776a240011ccb,2022-01-17,34.716690,58.489,28.329,96.5,14.2,76.0,0.800000,0.600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
4944,621e30f467b776a240f22944,2022-01-17,34.352490,NaN,NaN,NaN,13.4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1

In [9]:
fitbit_sema.to_pickle('./data/fitbit_sema_to_model.pkl')

In [5]:
fitbit_sema_processed = preprocessing_functions.post_preprocessing(fitbit_sema, True)
fitbit_sema_processed.to_pickle('./data/fitbit_sema_processed.pkl')
fitbit_sema_processed

,nightly_temperature,nremhr,rmssd,full_sleep_breathing_rate,stress_score,sleep_points_percentage,exertion_points_percentage,responsiveness_points_percentage,daily_temperature_variation,calories,...,negative_feelings,positive_feelings,month_sin,weekday_sin,week_sin,day_sin,month_cos,weekday_cos,week_cos,day_cos
0,34.710232,61.555,35.4345,14.4,74.0,0.700000,0.700,0.833333,-1.822489,3682.90,...,0,1,-0.866025,0.000000,0.309017,-0.988468,0.5,1.00000,0.951057,0.151428
1,34.526732,67.118,37.7220,10.6,77.0,0.800000,0.750,0.766667,-3.007565,2412.87,...,0,1,-0.866025,0.000000,0.309017,-0.988468,0.5,1.00000,0.951057,0.151428
2,34.526732,67.118,37.7220,10.6,77.0,0.800000,0.750,0.766667,-3.007565,2412.87,...,0,1,-0.866025,0.000000,0.309017,-0.988468,0.5,1.00000,0.951057,0.151428
3,34.526732,67.118,37.7220,10.6,77.0,0.800000,0.750,0.766667,-3.007565,2412.87,...,0,1,-0.866025,0.000000,0.309017,-0.988468,0.5,1.00000,0.951057,0.151428
4,33.991756,69.820,28.5940,16.4,76.0,0.800000,0.850,0.600000,-1.184004,1690.71,...,0,1,-0.866025,0.000000,0.309017,-0.988468,0.5,1.00000,0.951057,0.151428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4940,33.277004,46.697,62.1570,13.0,76.0,0.633333,0.825,0.800000,-2.266232,3800.45,...,0,1,0.866025,-0.781831,0.587785,-0.101168,0.5,0.62349,0.809017,-0.994869
4941,32.903545,71.863,25.4750,18.2,72.0,0.833333,0.625,0.733333,-3.234348,1549.08,...,1,0,0.866025,0.000000,0.809017,-0.299363,0.5,1.00000,0.587785,-0.954139
4942,33.991756,61.555,35.4345,14.4,77.0,0.800000,0.750,0.766667,-1.379863,1120.51,...,0,1,0.866025,0.000000,0.809017,-0.299363,0.5,1.00000,0.587785,-0.954139
4943,34.716690,58.489,28.3290,14.2,76.0,0.800000,0.600,0.933333,-2.096381,1913.30,...,1,0,0.866025,0.000000,0.809017,-0.299363,0.5,1.00000,0.587785,-0.954139
4944,34.352490,61.555,35.4345,13.4,77.0,0.800000,0.750,0.766667,-2.346201,1864.23,...,0,1,0.866025,0.000000,0.809017,-0.299363,0.5,1.00000,0.587785,-0.954139