In [1]:
import pickle
import warnings
import pandas as pd
import preprocessing_functions
warnings.filterwarnings("ignore")
from notebooks_feature_engineering import feature_engineering_functions

load the Fitbit data

In [2]:
fitbit = pd.read_pickle('../data/daily_fitbit_df_unprocessed.pkl')
fitbit

,id,date,nightly_temperature,nremhr,rmssd,spo2,full_sleep_breathing_rate,stress_score,sleep_points_percentage,exertion_points_percentage,...,sleep_rem_ratio,steps,minutes_in_default_zone_1,minutes_below_default_zone_1,minutes_in_default_zone_2,minutes_in_default_zone_3,age,gender,bmi,heart_rate_alert
0,621e2e8e67b776a24055b564,2021-05-24,34.137687,57.432,89.603,NaN,14.8,78.0,0.833333,0.675,...,1.341772,8833.0,83.0,1349.0,0.0,0.0,<30,MALE,<19,None
1,621e2e8e67b776a24055b564,2021-05-25,33.794544,57.681,94.303,NaN,15.8,80.0,0.833333,0.725,...,1.197531,9727.0,56.0,1374.0,4.0,0.0,<30,MALE,<19,None
2,621e2e8e67b776a24055b564,2021-05-26,34.611011,57.481,119.212,NaN,14.6,84.0,0.966667,0.725,...,1.670732,8253.0,85.0,1350.0,0.0,0.0,<30,MALE,<19,None
3,621e2e8e67b776a24055b564,2021-05-27,34.408304,57.493,111.709,NaN,14.8,82.0,0.933333,0.725,...,1.588235,9015.0,90.0,1282.0,0.0,0.0,<30,MALE,<19,None
4,621e2e8e67b776a24055b564,2021-05-28,34.178922,56.750,103.034,NaN,15.2,81.0,0.866667,0.725,...,1.090909,12949.0,146.0,1274.0,4.0,0.0,<30,MALE,<19,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7348,621e375b67b776a240290cdc,2021-08-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,<30,FEMALE,23.0,None
7349,621e375b67b776a240290cdc,2021-08-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,<30,FEMALE,23.0,None
7350,621e375b67b776a240290cdc,2021-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,<30,FEMALE,23.0,None
7351,621e375b67b776a240290cdc,2021-08-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,<30,FEMALE,23.0,None
7352,621e375b67b776a240290cdc,2021-08-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,<30,FEMALE,23.0,None

# Fitbit Basic Preprocessing
1. Select the experiment days
2. Drop duplicates
3. Convert data types falsely described as categorical

In [3]:
data = preprocessing_functions.fitbit_basic_preprocessing(fitbit)
data["date"] = pd.to_datetime(pd.to_datetime(data["date"]).dt.date)
data

,id,date,nightly_temperature,nremhr,rmssd,spo2,full_sleep_breathing_rate,stress_score,sleep_points_percentage,exertion_points_percentage,...,sleep_rem_ratio,steps,minutes_in_default_zone_1,minutes_below_default_zone_1,minutes_in_default_zone_2,minutes_in_default_zone_3,age,gender,bmi,heart_rate_alert
0,621e2e8e67b776a24055b564,2021-05-24,34.137687,57.432,89.603,NaN,14.8,78.0,0.833333,0.675,...,1.341772,8833.0,83.0,1349.0,0.0,0.0,<30,MALE,<19,None
1,621e301e67b776a240608a72,2021-05-24,34.710232,NaN,NaN,NaN,NaN,74.0,0.700000,0.700,...,0.922222,12441.0,164.0,997.0,49.0,0.0,<30,FEMALE,19.0,None
2,621e301367b776a24057738e,2021-05-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7279.0,32.0,236.0,30.0,0.0,>=30,MALE,23.0,None
3,621e360b67b776a24039709f,2021-05-24,NaN,68.321,31.413,NaN,15.4,69.0,0.633333,0.650,...,NaN,7493.0,127.0,1306.0,7.0,0.0,>=30,FEMALE,<19,None
4,621e2fce67b776a240279baa,2021-05-24,34.783747,83.170,15.941,96.6,15.2,70.0,0.733333,0.725,...,0.663717,3317.0,701.0,735.0,0.0,0.0,<30,MALE,24.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4902,621e30e267b776a240e5bf90,2022-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,<30,MALE,>=30,None
4903,621e322367b776a240e44e9b,2022-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,>=30,MALE,27.0,None
4904,621e300767b776a2404dc717,2022-01-17,33.186399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.742857,2223.0,19.0,1380.0,4.0,0.0,<30,MALE,29.0,None
4905,621e2f1b67b776a240b3d87c,2022-01-17,34.404580,65.782,23.793,NaN,16.0,72.0,0.766667,0.725,...,0.774194,8213.0,320.0,1004.0,20.0,0.0,>=30,FEMALE,22.0,None
4906,621e331067b776a24085dd3f,2022-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,>=30,FEMALE,21.0,None

In [9]:
# # read intra-day data from Mongo
# data = preprocessing_functions.fitbit_intraday_sleep(data, 'rais')
# data

## One hot encoding

In [4]:
data = preprocessing_functions.one_hot_encoding(data)
data

,id,date,nightly_temperature,nremhr,rmssd,spo2,full_sleep_breathing_rate,stress_score,sleep_points_percentage,exertion_points_percentage,...,Martial Arts,Run,Spinning,Sport,Swim,Treadmill,Walk,Weights,Workout,Yoga/Pilates
0,621e2e8e67b776a24055b564,2021-05-24,34.137687,57.432,89.603,NaN,14.8,78.0,0.833333,0.675,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,621e301e67b776a240608a72,2021-05-24,34.710232,NaN,NaN,NaN,NaN,74.0,0.700000,0.700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,621e301367b776a24057738e,2021-05-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,621e360b67b776a24039709f,2021-05-24,NaN,68.321,31.413,NaN,15.4,69.0,0.633333,0.650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,621e2fce67b776a240279baa,2021-05-24,34.783747,83.170,15.941,96.6,15.2,70.0,0.733333,0.725,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4902,621e30e267b776a240e5bf90,2022-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4903,621e322367b776a240e44e9b,2022-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4904,621e300767b776a2404dc717,2022-01-17,33.186399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4905,621e2f1b67b776a240b3d87c,2022-01-17,34.404580,65.782,23.793,NaN,16.0,72.0,0.766667,0.725,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4906,621e331067b776a24085dd3f,2022-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.to_pickle('../data/unified_dataframe/weekly_temp.pkl')

In [2]:
data = pd.read_pickle('../data/unified_dataframe/weekly_temp.pkl')

# Merge fitbit data with stai and panas

## stai

In [3]:
stai = pd.read_pickle('../data/surveys/stai.pkl')
stai = stai.rename(columns={"user_id": "id", "submitdate": "date", "stai_stress_category":"label_stai_stress_category"})
stai["date"] = pd.to_datetime(pd.to_datetime(stai["date"]).dt.date)
stai = stai.sort_values(by='date', ascending=True)
stai = stai.drop(columns=['type', 'stai_stress'])
stai

                          id       date label_stai_stress_category
0   621e2e8e67b776a24055b564 2021-05-31              Below average
0   621e328667b776a240281372 2021-05-31                    Average
0   621e329067b776a2402ffad2 2021-05-31              Above average
3   621e30e467b776a240e817c7 2021-05-31              Above average
4   621e32af67b776a24045b4cf 2021-05-31              Above average
..                       ...        ...                        ...
2   621e346f67b776a24081744f 2022-01-12                    Average
4   621e2f9167b776a240011ccb 2022-01-16              Above average
1   621e367e67b776a24087d75d 2022-01-17                    Average
6   621e324e67b776a2400191cb 2022-01-17              Above average
1   621e32e667b776a2406d2f1c 2022-01-25              Above average

[279 rows x 3 columns]

## panas

In [4]:
panas = pd.read_pickle('../data/surveys/panas_classification.pkl')
panas = panas.rename(columns={"user_id": "id", "submitdate": "date", "negative_affect_category":"label_panas_negative_affect"})
panas["date"] = pd.to_datetime(pd.to_datetime(panas["date"]).dt.date)
panas = panas.sort_values(by='date', ascending=True)
panas

                          id       date label_panas_negative_affect
0   621e329067b776a2402ffad2 2021-05-31                     Average
0   621e328667b776a240281372 2021-05-31               Above average
4   621e32af67b776a24045b4cf 2021-05-31               Above average
6   621e301e67b776a240608a72 2021-05-31                     Average
2   621e32d967b776a240627414 2021-05-31                     Average
..                       ...        ...                         ...
6   621e339967b776a240e502de 2022-01-12               Below average
2   621e2f9167b776a240011ccb 2022-01-16               Above average
5   621e367e67b776a24087d75d 2022-01-17                     Average
3   621e324e67b776a2400191cb 2022-01-17               Below average
3   621e32e667b776a2406d2f1c 2022-01-25                     Average

[268 rows x 3 columns]

## Merge stai with panas to create one survey dataframe

In [5]:
survey = panas.merge(stai, how='outer', on=['id', 'date'])
survey

,id,date,label_panas_negative_affect,label_stai_stress_category
0,621e329067b776a2402ffad2,2021-05-31,Average,Above average
1,621e328667b776a240281372,2021-05-31,Above average,Average
2,621e32af67b776a24045b4cf,2021-05-31,Above average,Above average
3,621e301e67b776a240608a72,2021-05-31,Average,Below average
4,621e32d967b776a240627414,2021-05-31,Average,Above average
...,...,...,...,...
279,621e366567b776a24076a727,2021-12-27,NaN,Below average
280,621e2f1b67b776a240b3d87c,2021-12-27,NaN,Above average
281,621e310d67b776a24003096d,2021-12-31,NaN,Average
282,621e312a67b776a240164d59,2022-01-03,NaN,Above average
283,621e2f1b67b776a240b3d87c,2022-01-04,NaN,Above average

In [6]:
users = list(data['id'].unique())

In [7]:
data = preprocessing_functions.weekly_fitbit_frequency(survey, data, users)
data

,id,date,label_panas_negative_affect,label_stai_stress_category,nightly_temperature,nremhr,rmssd,spo2,full_sleep_breathing_rate,stress_score,...,Martial Arts,Run,Spinning,Sport,Swim,Treadmill,Walk,Weights,Workout,Yoga/Pilates
0,621e2e8e67b776a24055b564,2021-05-31,Below average,Below average,34.408304,57.481,94.303,NaN,14.8,81.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,621e2e8e67b776a24055b564,2021-06-07,Below average,Average,34.476865,56.57,109.509,NaN,14.4,83.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,621e2e8e67b776a24055b564,2021-06-28,Below average,Above average,34.418045,53.006,107.388,NaN,15.6,76.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,621e2e8e67b776a24055b564,2021-07-19,Below average,Average,34.254286,57.33,100.374,NaN,15.0,75.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,621e2e8e67b776a24055b564,2021-07-26,Below average,Average,34.515655,59.798,98.515,NaN,15.4,74.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,621e339967b776a240e502de,2021-12-14,Below average,Below average,34.303759,46.311,56.468,96.5,11.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
280,621e339967b776a240e502de,2021-12-20,Below average,Average,34.876472,50.683,47.293,96.0,11.6,82.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
281,621e339967b776a240e502de,2021-12-27,Below average,Average,35.107574,54.325,47.929,95.4,12.2,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
282,621e339967b776a240e502de,2022-01-03,Below average,Average,34.957428,52.81,47.801,94.9,12.4,81.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
283,621e339967b776a240e502de,2022-01-12,Below average,Average,34.073346,51.364,51.324,96.1,12.2,84.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

## Date engineering

In [8]:
data = preprocessing_functions.date_engineering(data)
data

,id,date,label_panas_negative_affect,label_stai_stress_category,nightly_temperature,nremhr,rmssd,spo2,full_sleep_breathing_rate,stress_score,...,Workout,Yoga/Pilates,month_sin,weekday_sin,week_sin,day_sin,month_cos,weekday_cos,week_cos,day_cos
0,621e2e8e67b776a24055b564,2021-05-31,Below average,Below average,34.408304,57.481,94.303,NaN,14.8,81.0,...,0.0,0.0,-7.071068e-01,0.000000,-1.133108e-15,0.207912,-7.071068e-01,1.000000,1.000000,0.978148
1,621e2e8e67b776a24055b564,2021-06-07,Below average,Average,34.476865,56.57,109.509,NaN,14.4,83.0,...,0.0,0.0,-1.000000e+00,0.000000,2.817326e-01,0.994522,-1.836970e-16,1.000000,0.959493,0.104528
2,621e2e8e67b776a24055b564,2021-06-28,Below average,Above average,34.418045,53.006,107.388,NaN,15.6,76.0,...,0.0,0.0,-1.000000e+00,0.000000,9.096320e-01,-0.406737,-1.836970e-16,1.000000,0.415415,0.913545
3,621e2e8e67b776a24055b564,2021-07-19,Below average,Average,34.254286,57.33,100.374,NaN,15.0,75.0,...,0.0,0.0,-7.071068e-01,0.000000,9.096320e-01,-0.743145,7.071068e-01,1.000000,-0.415415,-0.669131
4,621e2e8e67b776a24055b564,2021-07-26,Below average,Average,34.515655,59.798,98.515,NaN,15.4,74.0,...,0.0,0.0,-7.071068e-01,0.000000,7.557496e-01,-0.743145,7.071068e-01,1.000000,-0.654861,0.669131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,621e339967b776a240e502de,2021-12-14,Below average,Below average,34.303759,46.311,56.468,96.5,11.0,87.0,...,0.0,0.0,3.673940e-16,0.781831,9.898214e-01,0.207912,-1.000000e+00,0.623490,-0.142315,-0.978148
280,621e339967b776a240e502de,2021-12-20,Below average,Average,34.876472,50.683,47.293,96.0,11.6,82.0,...,0.0,0.0,3.673940e-16,0.000000,9.096320e-01,-0.866025,-1.000000e+00,1.000000,-0.415415,-0.500000
281,621e339967b776a240e502de,2021-12-27,Below average,Average,35.107574,54.325,47.929,95.4,12.2,87.0,...,0.0,0.0,3.673940e-16,0.000000,7.557496e-01,-0.587785,-1.000000e+00,1.000000,-0.654861,0.809017
282,621e339967b776a240e502de,2022-01-03,Below average,Average,34.957428,52.81,47.801,94.9,12.4,81.0,...,0.0,0.0,7.071068e-01,0.000000,2.817326e-01,0.587785,7.071068e-01,1.000000,0.959493,0.809017
283,621e339967b776a240e502de,2022-01-12,Below average,Average,34.073346,51.364,51.324,96.1,12.2,84.0,...,0.0,0.0,7.071068e-01,0.974928,5.406408e-01,0.587785,7.071068e-01,-0.222521,0.841254,-0.809017

## post - preprocessing

In [9]:
data = preprocessing_functions.post_preprocessing(data, 'weekly')
data

,id,date,label_panas_negative_affect,label_stai_stress_category,nightly_temperature,nremhr,rmssd,spo2,full_sleep_breathing_rate,stress_score,...,weekday_sin,week_sin,day_sin,month_cos,weekday_cos,week_cos,day_cos,wear_day,early_features,used_during_night
0,621e2e8e67b776a24055b564,2021-05-31,Below average,Below average,34.408304,57.481,94.303,96.1,14.8,81.0,...,0.000000,-1.133108e-15,0.207912,-7.071068e-01,1.000000,1.000000,0.978148,1,0,1.000
1,621e2e8e67b776a24055b564,2021-06-07,Below average,Average,34.476865,56.570,34.617,96.1,14.4,83.0,...,0.000000,2.817326e-01,0.994522,-1.836970e-16,1.000000,0.959493,0.104528,1,0,1.000
2,621e2e8e67b776a24055b564,2021-06-28,Below average,Above average,34.418045,53.006,34.617,96.1,15.6,76.0,...,0.000000,9.096320e-01,-0.406737,-1.836970e-16,1.000000,0.415415,0.913545,1,0,1.000
3,621e2e8e67b776a24055b564,2021-07-19,Below average,Average,34.254286,57.330,100.374,96.1,15.0,75.0,...,0.000000,9.096320e-01,-0.743145,7.071068e-01,1.000000,-0.415415,-0.669131,1,0,1.000
4,621e2e8e67b776a24055b564,2021-07-26,Below average,Average,34.515655,59.798,98.515,96.1,15.4,74.0,...,0.000000,7.557496e-01,-0.743145,7.071068e-01,1.000000,-0.654861,0.669131,1,0,1.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,621e339967b776a240e502de,2021-12-14,Below average,Below average,34.303759,46.311,56.468,96.5,11.0,87.0,...,0.781831,9.898214e-01,0.207912,-1.000000e+00,0.623490,-0.142315,-0.978148,1,1,0.875
280,621e339967b776a240e502de,2021-12-20,Below average,Average,34.876472,50.683,47.293,96.0,11.6,82.0,...,0.000000,9.096320e-01,-0.866025,-1.000000e+00,1.000000,-0.415415,-0.500000,1,1,0.875
281,621e339967b776a240e502de,2021-12-27,Below average,Average,35.107574,54.325,47.929,95.4,12.2,87.0,...,0.000000,7.557496e-01,-0.587785,-1.000000e+00,1.000000,-0.654861,0.809017,1,1,0.875
282,621e339967b776a240e502de,2022-01-03,Below average,Average,34.957428,52.810,47.801,94.9,12.4,81.0,...,0.000000,2.817326e-01,0.587785,7.071068e-01,1.000000,0.959493,0.809017,1,1,0.875
283,621e339967b776a240e502de,2022-01-12,Below average,Average,34.073346,51.364,51.324,96.1,12.2,84.0,...,0.974928,5.406408e-01,0.587785,7.071068e-01,-0.222521,0.841254,-0.809017,1,1,0.875

In [10]:
special_zeros = ['stress_score', 'sleep_points_percentage', 'exertion_points_percentage',
                 'responsiveness_points_percentage']

for col in special_zeros:
    data.loc[data[col] == 0, col] = data[col].median()

In [11]:
# these columns have only 0 values
data = data.drop(columns=['heart_rate_alert'])

## add all the new features

In [12]:
data = feature_engineering_functions.add_features(data, 'weekly')
data

,id,date,label_panas_negative_affect,label_stai_stress_category,nightly_temperature,nremhr,rmssd,spo2,full_sleep_breathing_rate,stress_score,...,Steps_hour14,Steps_hour15,Steps_hour16,Steps_hour17,Steps_hour18,Steps_hour19,Steps_hour20,Steps_hour21,Steps_hour22,Steps_hour23
0,621e2e8e67b776a24055b564,2021-05-31,Below average,Below average,34.408304,57.481,94.303,96.1,14.8,81.0,...,6.0,271.0,535.0,202.0,3226.0,530.0,72.0,52.0,421.0,38.0
1,621e2e8e67b776a24055b564,2021-06-07,Below average,Average,34.476865,56.570,34.617,96.1,14.4,83.0,...,196.0,223.0,262.0,96.0,181.0,3079.0,37.0,173.0,179.0,45.0
2,621e2e8e67b776a24055b564,2021-06-28,Below average,Above average,34.418045,53.006,34.617,96.1,15.6,76.0,...,128.0,160.0,320.0,366.0,3190.0,191.0,23.0,95.0,23.0,36.0
3,621e2e8e67b776a24055b564,2021-07-19,Below average,Average,34.254286,57.330,100.374,96.1,15.0,75.0,...,419.0,96.0,83.0,168.0,1001.0,2215.0,231.0,1579.0,57.0,162.0
4,621e2e8e67b776a24055b564,2021-07-26,Below average,Average,34.515655,59.798,98.515,96.1,15.4,74.0,...,113.0,216.0,233.0,274.0,2389.0,3393.0,162.0,62.0,15.0,151.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,621e375b67b776a240290cdc,2021-06-01,Above average,Above average,34.480120,63.323,21.579,96.1,17.4,72.0,...,221.0,23.0,58.0,0.0,817.0,1384.0,2000.0,3158.0,536.0,33.0
280,621e375b67b776a240290cdc,2021-06-08,Above average,Above average,34.251482,63.730,20.485,96.1,17.0,78.0,...,12.0,0.0,245.0,648.0,3403.0,6047.0,2326.0,1469.0,1528.0,222.0
281,621e375b67b776a240290cdc,2021-06-22,Above average,Above average,34.588002,65.664,19.511,96.1,17.0,80.0,...,138.0,268.0,12.0,16.0,290.0,210.0,1857.0,5394.0,2275.0,44.0
282,621e375b67b776a240290cdc,2021-07-06,Above average,Above average,34.720564,60.287,23.620,96.1,17.0,75.0,...,387.0,14.0,26.0,251.0,254.0,267.0,299.0,259.0,252.0,176.0
283,621e375b67b776a240290cdc,2021-07-12,NaN,Above average,34.495625,64.813,21.289,96.1,17.0,74.0,...,1437.0,948.0,22.0,55.0,338.0,1185.0,2885.0,4561.0,2692.0,237.0

## add window features

In [13]:
data['panas-1'] = data['label_panas_negative_affect'].shift(1)
data['stai-1'] = data['label_stai_stress_category'].shift(1)
data['panas-2'] = data['label_panas_negative_affect'].shift(2)
data['stai-2'] = data['label_stai_stress_category'].shift(2)
data

,id,date,label_panas_negative_affect,label_stai_stress_category,nightly_temperature,nremhr,rmssd,spo2,full_sleep_breathing_rate,stress_score,...,Steps_hour18,Steps_hour19,Steps_hour20,Steps_hour21,Steps_hour22,Steps_hour23,panas-1,stai-1,panas-2,stai-2
0,621e2e8e67b776a24055b564,2021-05-31,Below average,Below average,34.408304,57.481,94.303,96.1,14.8,81.0,...,3226.0,530.0,72.0,52.0,421.0,38.0,NaN,NaN,NaN,NaN
1,621e2e8e67b776a24055b564,2021-06-07,Below average,Average,34.476865,56.570,34.617,96.1,14.4,83.0,...,181.0,3079.0,37.0,173.0,179.0,45.0,Below average,Below average,NaN,NaN
2,621e2e8e67b776a24055b564,2021-06-28,Below average,Above average,34.418045,53.006,34.617,96.1,15.6,76.0,...,3190.0,191.0,23.0,95.0,23.0,36.0,Below average,Average,Below average,Below average
3,621e2e8e67b776a24055b564,2021-07-19,Below average,Average,34.254286,57.330,100.374,96.1,15.0,75.0,...,1001.0,2215.0,231.0,1579.0,57.0,162.0,Below average,Above average,Below average,Average
4,621e2e8e67b776a24055b564,2021-07-26,Below average,Average,34.515655,59.798,98.515,96.1,15.4,74.0,...,2389.0,3393.0,162.0,62.0,15.0,151.0,Below average,Average,Below average,Above average
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,621e375b67b776a240290cdc,2021-06-01,Above average,Above average,34.480120,63.323,21.579,96.1,17.4,72.0,...,817.0,1384.0,2000.0,3158.0,536.0,33.0,Above average,Above average,Above average,Below average
280,621e375b67b776a240290cdc,2021-06-08,Above average,Above average,34.251482,63.730,20.485,96.1,17.0,78.0,...,3403.0,6047.0,2326.0,1469.0,1528.0,222.0,Above average,Above average,Above average,Above average
281,621e375b67b776a240290cdc,2021-06-22,Above average,Above average,34.588002,65.664,19.511,96.1,17.0,80.0,...,290.0,210.0,1857.0,5394.0,2275.0,44.0,Above average,Above average,Above average,Above average
282,621e375b67b776a240290cdc,2021-07-06,Above average,Above average,34.720564,60.287,23.620,96.1,17.0,75.0,...,254.0,267.0,299.0,259.0,252.0,176.0,Above average,Above average,Above average,Above average
283,621e375b67b776a240290cdc,2021-07-12,NaN,Above average,34.495625,64.813,21.289,96.1,17.0,74.0,...,338.0,1185.0,2885.0,4561.0,2692.0,237.0,Above average,Above average,Above average,Above average

replace NaNs (from the first rows and because of label existed NaNs)

In [14]:
columns = ['panas-1', 'stai-1', 'panas-2', 'stai-2']
for col in columns:
    data[col] = data[col].fillna(data[col].mode().iloc[0])
data

,id,date,label_panas_negative_affect,label_stai_stress_category,nightly_temperature,nremhr,rmssd,spo2,full_sleep_breathing_rate,stress_score,...,Steps_hour18,Steps_hour19,Steps_hour20,Steps_hour21,Steps_hour22,Steps_hour23,panas-1,stai-1,panas-2,stai-2
0,621e2e8e67b776a24055b564,2021-05-31,Below average,Below average,34.408304,57.481,94.303,96.1,14.8,81.0,...,3226.0,530.0,72.0,52.0,421.0,38.0,Below average,Average,Below average,Average
1,621e2e8e67b776a24055b564,2021-06-07,Below average,Average,34.476865,56.570,34.617,96.1,14.4,83.0,...,181.0,3079.0,37.0,173.0,179.0,45.0,Below average,Below average,Below average,Average
2,621e2e8e67b776a24055b564,2021-06-28,Below average,Above average,34.418045,53.006,34.617,96.1,15.6,76.0,...,3190.0,191.0,23.0,95.0,23.0,36.0,Below average,Average,Below average,Below average
3,621e2e8e67b776a24055b564,2021-07-19,Below average,Average,34.254286,57.330,100.374,96.1,15.0,75.0,...,1001.0,2215.0,231.0,1579.0,57.0,162.0,Below average,Above average,Below average,Average
4,621e2e8e67b776a24055b564,2021-07-26,Below average,Average,34.515655,59.798,98.515,96.1,15.4,74.0,...,2389.0,3393.0,162.0,62.0,15.0,151.0,Below average,Average,Below average,Above average
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,621e375b67b776a240290cdc,2021-06-01,Above average,Above average,34.480120,63.323,21.579,96.1,17.4,72.0,...,817.0,1384.0,2000.0,3158.0,536.0,33.0,Above average,Above average,Above average,Below average
280,621e375b67b776a240290cdc,2021-06-08,Above average,Above average,34.251482,63.730,20.485,96.1,17.0,78.0,...,3403.0,6047.0,2326.0,1469.0,1528.0,222.0,Above average,Above average,Above average,Above average
281,621e375b67b776a240290cdc,2021-06-22,Above average,Above average,34.588002,65.664,19.511,96.1,17.0,80.0,...,290.0,210.0,1857.0,5394.0,2275.0,44.0,Above average,Above average,Above average,Above average
282,621e375b67b776a240290cdc,2021-07-06,Above average,Above average,34.720564,60.287,23.620,96.1,17.0,75.0,...,254.0,267.0,299.0,259.0,252.0,176.0,Above average,Above average,Above average,Above average
283,621e375b67b776a240290cdc,2021-07-12,NaN,Above average,34.495625,64.813,21.289,96.1,17.0,74.0,...,338.0,1185.0,2885.0,4561.0,2692.0,237.0,Above average,Above average,Above average,Above average

In [15]:
data.to_pickle("../data/unified_dataframe/weekly_data_preprocessed.pkl")