In [1]:
import pickle
import warnings
import pandas as pd
import preprocessing_functions
warnings.filterwarnings("ignore")

load the Fitbit data

In [7]:
fitbit = pd.read_pickle('../data/daily_fitbit_df_unprocessed.pkl')
fitbit

,id,date,nightly_temperature,nremhr,rmssd,spo2,full_sleep_breathing_rate,stress_score,sleep_points_percentage,exertion_points_percentage,...,sleep_rem_ratio,steps,minutes_in_default_zone_1,minutes_below_default_zone_1,minutes_in_default_zone_2,minutes_in_default_zone_3,age,gender,bmi,heart_rate_alert
0,621e2e8e67b776a24055b564,2021-05-24,34.137687,57.432,89.603,NaN,14.8,78.0,0.833333,0.675,...,1.341772,8833.0,83.0,1349.0,0.0,0.0,<30,MALE,<19,None
1,621e2e8e67b776a24055b564,2021-05-25,33.794544,57.681,94.303,NaN,15.8,80.0,0.833333,0.725,...,1.197531,9727.0,56.0,1374.0,4.0,0.0,<30,MALE,<19,None
2,621e2e8e67b776a24055b564,2021-05-26,34.611011,57.481,119.212,NaN,14.6,84.0,0.966667,0.725,...,1.670732,8253.0,85.0,1350.0,0.0,0.0,<30,MALE,<19,None
3,621e2e8e67b776a24055b564,2021-05-27,34.408304,57.493,111.709,NaN,14.8,82.0,0.933333,0.725,...,1.588235,9015.0,90.0,1282.0,0.0,0.0,<30,MALE,<19,None
4,621e2e8e67b776a24055b564,2021-05-28,34.178922,56.750,103.034,NaN,15.2,81.0,0.866667,0.725,...,1.090909,12949.0,146.0,1274.0,4.0,0.0,<30,MALE,<19,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7348,621e375b67b776a240290cdc,2021-08-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,<30,FEMALE,23.0,None
7349,621e375b67b776a240290cdc,2021-08-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,<30,FEMALE,23.0,None
7350,621e375b67b776a240290cdc,2021-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,<30,FEMALE,23.0,None
7351,621e375b67b776a240290cdc,2021-08-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,<30,FEMALE,23.0,None
7352,621e375b67b776a240290cdc,2021-08-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,<30,FEMALE,23.0,None

# Fitbit Basic Preprocessing
1. Select the experiment days
2. Drop duplicates
3. Convert data types falsely described as categorical

In [8]:
data = preprocessing_functions.fitbit_basic_preprocessing(fitbit)
data["date"] = pd.to_datetime(pd.to_datetime(data["date"]).dt.date)
data

,id,date,nightly_temperature,nremhr,rmssd,spo2,full_sleep_breathing_rate,stress_score,sleep_points_percentage,exertion_points_percentage,...,sleep_rem_ratio,steps,minutes_in_default_zone_1,minutes_below_default_zone_1,minutes_in_default_zone_2,minutes_in_default_zone_3,age,gender,bmi,heart_rate_alert
0,621e2e8e67b776a24055b564,2021-05-24,34.137687,57.432,89.603,NaN,14.8,78.0,0.833333,0.675,...,1.341772,8833.0,83.0,1349.0,0.0,0.0,<30,MALE,<19,None
1,621e301e67b776a240608a72,2021-05-24,34.710232,NaN,NaN,NaN,NaN,74.0,0.700000,0.700,...,0.922222,12441.0,164.0,997.0,49.0,0.0,<30,FEMALE,19.0,None
2,621e301367b776a24057738e,2021-05-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7279.0,32.0,236.0,30.0,0.0,>=30,MALE,23.0,None
3,621e360b67b776a24039709f,2021-05-24,NaN,68.321,31.413,NaN,15.4,69.0,0.633333,0.650,...,NaN,7493.0,127.0,1306.0,7.0,0.0,>=30,FEMALE,<19,None
4,621e2fce67b776a240279baa,2021-05-24,34.783747,83.170,15.941,96.6,15.2,70.0,0.733333,0.725,...,0.663717,3317.0,701.0,735.0,0.0,0.0,<30,MALE,24.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4902,621e30e267b776a240e5bf90,2022-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,<30,MALE,>=30,None
4903,621e322367b776a240e44e9b,2022-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,>=30,MALE,27.0,None
4904,621e300767b776a2404dc717,2022-01-17,33.186399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.742857,2223.0,19.0,1380.0,4.0,0.0,<30,MALE,29.0,None
4905,621e2f1b67b776a240b3d87c,2022-01-17,34.404580,65.782,23.793,NaN,16.0,72.0,0.766667,0.725,...,0.774194,8213.0,320.0,1004.0,20.0,0.0,>=30,FEMALE,22.0,None
4906,621e331067b776a24085dd3f,2022-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,>=30,FEMALE,21.0,None

In [9]:
# # read intra-day data from Mongo
# data = preprocessing_functions.fitbit_intraday_sleep(data, 'rais')
# data

## One hot encoding

In [10]:
data = preprocessing_functions.one_hot_encoding(data)
data

,id,date,nightly_temperature,nremhr,rmssd,spo2,full_sleep_breathing_rate,stress_score,sleep_points_percentage,exertion_points_percentage,...,Martial Arts,Run,Spinning,Sport,Swim,Treadmill,Walk,Weights,Workout,Yoga/Pilates
0,621e2e8e67b776a24055b564,2021-05-24,34.137687,57.432,89.603,NaN,14.8,78.0,0.833333,0.675,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,621e301e67b776a240608a72,2021-05-24,34.710232,NaN,NaN,NaN,NaN,74.0,0.700000,0.700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,621e301367b776a24057738e,2021-05-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,621e360b67b776a24039709f,2021-05-24,NaN,68.321,31.413,NaN,15.4,69.0,0.633333,0.650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,621e2fce67b776a240279baa,2021-05-24,34.783747,83.170,15.941,96.6,15.2,70.0,0.733333,0.725,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4902,621e30e267b776a240e5bf90,2022-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4903,621e322367b776a240e44e9b,2022-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4904,621e300767b776a2404dc717,2022-01-17,33.186399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4905,621e2f1b67b776a240b3d87c,2022-01-17,34.404580,65.782,23.793,NaN,16.0,72.0,0.766667,0.725,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4906,621e331067b776a24085dd3f,2022-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
data.to_pickle('../data/weekly_temp.pkl')

In [2]:
data = pd.read_pickle('../data/weekly_temp.pkl')

# Merge fitbit data with stai and panas

## stai

In [3]:
stai = pd.read_pickle('../data/surveys/stai.pkl')
stai = stai.rename(columns={"user_id": "id", "submitdate": "date", "stai_stress_category":"label_stai_stress_category"})
stai["date"] = pd.to_datetime(pd.to_datetime(stai["date"]).dt.date)
stai = stai.sort_values(by='date', ascending=True)
stai = stai.drop(columns=['type', 'stai_stress'])
stai

                          id       date label_stai_stress_category
0   621e2e8e67b776a24055b564 2021-05-31              Below average
0   621e328667b776a240281372 2021-05-31                    Average
0   621e329067b776a2402ffad2 2021-05-31              Above average
3   621e30e467b776a240e817c7 2021-05-31              Above average
4   621e32af67b776a24045b4cf 2021-05-31              Above average
..                       ...        ...                        ...
2   621e346f67b776a24081744f 2022-01-12                    Average
4   621e2f9167b776a240011ccb 2022-01-16              Above average
1   621e367e67b776a24087d75d 2022-01-17                    Average
6   621e324e67b776a2400191cb 2022-01-17              Above average
1   621e32e667b776a2406d2f1c 2022-01-25              Above average

[279 rows x 3 columns]

In [4]:
users = list(data['id'].unique())

In [5]:
data = preprocessing_functions.weekly_fitbit_frequency(stai, data, users)
data

,id,date,label_stai_stress_category,nightly_temperature,nremhr,rmssd,spo2,full_sleep_breathing_rate,stress_score,sleep_points_percentage,...,Martial Arts,Run,Spinning,Sport,Swim,Treadmill,Walk,Weights,Workout,Yoga/Pilates
0,621e2e8e67b776a24055b564,2021-05-31,Below average,34.408304,57.481,94.303,NaN,14.8,81.0,0.866667,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,621e2e8e67b776a24055b564,2021-06-07,Average,34.476865,56.57,109.509,NaN,14.4,83.0,0.833333,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,621e2e8e67b776a24055b564,2021-06-28,Above average,34.418045,53.006,107.388,NaN,15.6,76.0,0.766667,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,621e2e8e67b776a24055b564,2021-07-19,Average,34.254286,57.33,100.374,NaN,15.0,75.0,0.833333,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,621e2e8e67b776a24055b564,2021-07-26,Average,34.515655,59.798,98.515,NaN,15.4,74.0,0.766667,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,621e339967b776a240e502de,2021-12-14,Below average,34.303759,46.311,56.468,96.5,11.0,87.0,0.833333,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
275,621e339967b776a240e502de,2021-12-20,Average,34.876472,50.683,47.293,96.0,11.6,82.0,0.766667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276,621e339967b776a240e502de,2021-12-27,Average,35.107574,54.325,47.929,95.4,12.2,87.0,0.866667,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
277,621e339967b776a240e502de,2022-01-03,Average,34.957428,52.81,47.801,94.9,12.4,81.0,0.7,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
278,621e339967b776a240e502de,2022-01-12,Average,34.073346,51.364,51.324,96.1,12.2,84.0,0.833333,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

## panas

In [ ]:
panas = pd.read_pickle('../data/surveys/panas_classification.pkl')
panas = panas.rename(columns={"user_id": "id", "submitdate": "date", "negative_affect_category":"label_panas_negative_affect"})
panas["date"] = pd.to_datetime(pd.to_datetime(panas["date"]).dt.date)
panas = panas.sort_values(by='date', ascending=True)
panas

# TO DO

1. merge with panas
2. date engineering
3. add wear_day
4. post-preprocessing
5. rest code